# Build and Release
bin/
obj/
nupkg/
publish/
TestResults/

# .NET User-specific files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log
*.tlog

# NuGet
*.nupkg
.nuget/
packages/
project.lock.json

# Rider and JetBrains
*.dotCover
*.sln.iml

# Visual Studio
*.vs/
*.vscode/

# Mac and Linux Files
.DS_Store
._*
Thumbs.db
